<p id="notice"><%= notice %></p>

<h3> ブックマーク一覧</h3>

<%= form_tag(:controller=>'bookmarks', :action=>'search') do %>
<%= text_field_tag :my_description %>
<%= submit_tag "検索" %>
<% end %>

  <div class="row">
  <% unless @bookmarks == nil then %>
  <% @bookmarks.each do |bookmark| %>
    <div class="col-md-1">
    <div class="thumbnail-temp">
  
    <blockquote>
    <p> <%= bookmark.created_at.to_s(:published_on) %></p>
    <a href= <%=bookmark.url%> class="thumbnail">
    <img src=<%= bookmark.object_image%>  alt="Generic placeholder thumbnail">
    </a>
    
    <p><%= bookmark.my_description %></p>
    <p> <%= link_to 'Edit', edit_bookmark_path(bookmark) %>
    <%= link_to 'Del', bookmark, method: :delete, data: { confirm: 'delete this?' } %></p>
    
    </div>
    </div>
    </div>
    
    </blockquote>
    <% end %>
   <% end %>

<hr>


</div>
