<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @bookmark.url %>
</p>

<p>
  <strong>My description:</strong>
  <%= @bookmark.my_description %>
</p>

<p>
  <strong>Read flag:</strong>
  <%= @bookmark.read_flag %>
</p>

<p>
  <strong>Title:</strong>
  <%= @bookmark.title %>
</p>

<p>
  <strong>Favicon:</strong>
  <%= @bookmark.favicon %>
</p>

<p>
  <strong>Object description:</strong>
  <%= @bookmark.object_description %>
</p>

<p>
  <strong>Object image:</strong>
  <%= @bookmark.object_image %>
</p>

<%= link_to 'Edit', edit_bookmark_path(@bookmark) %> |
<%= link_to 'Back', bookmarks_path %>
