<!DOCTYPE html>
<html>
<head>
  <title>UrlMarker | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<script>
cheet('↑ ↑ ↓ ↓ ← → ← → b a', function () {
  $(function(){
    $('img.gravatar').attr({'src': '/assets/konami.png','alt': 'no konami image'});
    alert();
  });
});
$(document).ready(function(){
    $(".thumbnails img").MyThumbnail({
        thumbWidth:  80,
        thumbHeight: 80,
//      imageDivClass: :"myPic",    // 生成されるdivのclass
//      bShowPointerCursor: false,  // trueの場合、カーソル形状cursor:pointerへ設定
    });
});

$(document).ready(function(){
    $(".big_thumbnails img").MyThumbnail({
        thumbWidth:  120,
        thumbHeight: 70,
//      imageDivClass: :"myPic",    // 生成されるdivのclass
//      bShowPointerCursor: false,  // trueの場合、カーソル形状cursor:pointerへ設定
    });
});
</script>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
